<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="static/style.css"/>
<h1>404 Error - Page Not Found</h1>
<p class="zoom-area"><b>Oh No !</b> We are working on a fix, Server will be back up soon </p>
<section class="error-container">
  <span class="four"><span class="screen-reader-text">4</span></span>
  <span class="zero"><span class="screen-reader-text">0</span></span>
  <span class="four"><span class="screen-reader-text">4</span></span>
</section>
<div class="link-container">
  <a target="_blank" href="https://www.google.com/" class="more-link">Click to go back</a>
</div>
</html>